body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
display: flex;
flex-direction: column;
align-items: center;
}

header {
    display: flex;
    align-items: center;
}
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
img {
    height: 200px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}